@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Tiny5&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  background-color: #ff66cc;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Tiny 5', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  justify-content: center; 
  align-items: center; 
  color: #ffe6b3;
  animation: fadeIn 1s ease-in-out; 
  text-align: center; 
}

.poem-container {
  margin: 30px auto;
  max-width: 700px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #DA6D91;
  border-radius: 10px;
  color: #ffe6b3;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.6em;
}

.back-btn {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffdc6c;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.3s ease;
}
.back-btn:hover {
  color: #ff8c1a;
}

.poem-title {
  font-family: "Tiny5", sans-serif;
  font-size: 2em;
  margin-bottom: 15px;
  color: #ffd700;
  text-shadow: 0 0 10px #ff9900;
}

.poem-text {
  white-space: pre-wrap; /* Keeps poem formatting with line breaks */
  font-family: 'Tiny5', sans-serif;
}


@media (max-width: 768px) {
  body {
    font-size: 0.9em; /* Slightly reduce overall font size */
    padding: 10px;
  }

  .font {
    font-size: 2em; /* Reduce the title size */
    padding: 5px;
    margin-bottom: 10px;
  }



  .container {
    min-width: 80%; 
    padding: 0.8em;
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
