@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Tiny5&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-container{
  position: absolute;
  top: 60px;

}
.container{
    
    background-color: #3b421d54;
    border: 2px solid #a8ad58;
    padding: 10px;
    max-width: 400px;
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out; 
    padding: 40px;
    

}
p em{
    color: #00ff6a;
    text-decoration: underline;
    text-shadow: 0 0 5px #0ef721;
}
h1{
    font-family: "Tiny5", sans-serif;

}
h2{
    margin-top: 10px;
    font-family: "Tiny5", sans-serif;
    margin-bottom: 5px;
}
p{
    font-family: "Tiny5", sans-serif;
    text-align: justify;
}
body {
  background-image: url("2f10ce69b96c0611989308b0abc68e70.gif");
  background-color: #ff66cc;
  background-size: cover;
  background-attachment: fixed;     
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Tiny 5', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  color: #f0e76f;
  
  text-align: center; 
  gap: 20px;
}
.pfp{
    animation: fadeIn 1s ease-in-out; 
    width: 100px;
    border-radius: 50%;
    border: 2px solid #a8ad58;
    
}
.pfp:hover{

    transition: 0.3s ease-out;
    transform: scale(1.1);
}
.soc-links:hover{

    transition: 0.3s ease-out;
    transform: scale(1.3);
    box-shadow: 0, 2px, 5px #000000;
}
.font {
    animation: fadeIn 1s ease-in-out; 
    font-family: "Tiny5", sans-serif;
    font-size: 4em;
    color: #ffd700;
    text-shadow: 0 0 10px #ff9900, 0 0 20px #ff3300;
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid #DA6D91;
    background-color: rgba(0, 0, 0, 0.356); 
    border-radius: 10px;
    max-width: 90%; 
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px; 
    animation: fadeIn 1s ease-in-out; 
}

.nav-link {
    font-family: "Micro 5", sans-serif;
    font-size: 2.8em;
    text-decoration: none;
    color: #ff8c1a;
    text-shadow: 0 0 8px #ff4500;
    transition: color 0.3s ease, transform 0.3s ease;
    transform: scale(3);
    padding: 5px ;
    border-radius: 5px;
    border: 2px solid transparent;
    animation: fadeIn 1s ease-in-out;
    background-color: #302e2b56;
    border: 2px solid #a36d3a;
}

.nav-link:hover {
    color: #ffcccb;
    text-shadow: 0 0 10px #ff66cc; 
    transform: scale(1.1); 
    background-color: rgba(255, 255, 255, 0.3); 
    border-color: #ffcccb;
    
}

audio {
  display: none;
}


@media (max-width: 768px) {
  body {
    font-size: 0.9em; /* Slightly reduce overall font size */
    padding: 10px;
  }

  .font {
    font-size: 2em; /* Reduce the title size */
    padding: 5px;
    margin-bottom: 10px;
  }




}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

